* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
}

main {
    width: 70%;
    background: #e5ddd5;
    display: flex;
    flex-direction: column;
    background-size: contain;
    transition: 0.6s ease;
}
main.light{
    background-image: url('./Components/Images/chatbg.jpg');
}
main.dark{
    background-image: url('./Components/Images/chatbgdark.jpg')
}
.chats {
    flex: 1;
    padding: 0 2rem;
    overflow-y: auto;
}

.avatar {
    height: 2.4rem;
    border-radius: 50%;
    margin: 4px 0.75rem 0 0;
    border: 1px solid grey;
}

.search {
    height: 2.75rem;
    background: #DCDCDC;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.search input[type='text'] {
    background-image: url(./Components/Images/icons8-search.svg);
    background-repeat: no-repeat;
    background-size: 1rem, 1rem;
    background-position: 0.45rem 0.35rem;
    padding-left: 2rem;
}
.contact-boxes {
    overflow-y: auto;
    flex: 1;
}
.contact-box {
    background: #fff;
    border-bottom: 1px solid lightgrey;
    padding: 0.75rem 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contact-box:hover,
.contact-box.active {
    background: #ebebeb;
}

main header,
aside header {
    background: #FFFAFA;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header {
    justify-content: flex-start;
    padding: 0 1rem;
}

.time-mark {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
}
.text {
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
}

.avatar-title {
    color: #000;
    font-size: 16px;
    font-weight: normal;
}
.avatar-component {
    display: flex;
    align-items: center;
}
.right-section {
    width: 100%;
}
.contact-box-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.25rem;
}
.icon-small {
    width: 0.85rem;
    margin: 0 0.25rem;
}
.last-msg {
    display: flex;
    align-items: flex-end;
}
.chat-input-box {
    position: relative;
    display: flex;
    height: 3.5rem;
    align-items: center;
    background: #f0f0f0;
    justify-content: space-between;
}

aside header {
    padding: 0 0.75rem;
    border-right: 1px solid #e1e1e1;
}

.icon {
    width: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
#statusIcon {
    width: 1.25rem;
}
input {
    border: none;
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
}

.chat-input input {
    height: 2rem;
}
input:focus {
    outline: none;
}

.emoji-selector {
    width: 5%;
    text-align: center;
}
.chat-input {
    width: 92%;
}
.send {
    width: 8%;
    text-align: center;
}

.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 60%;
    word-wrap: break-word;
}

.message::before {
    position: absolute;
    left: -10px;
    top: 0;
    content: '';
    display: block;
    border: solid;
    border-width: 0px 16px 16px 0px;
    border-color: transparent;
    border-right-color: #B0E0E6;
}
.message.received {
    background: #B0E0E6;
    border-radius: 0px 5px 5px 5px;
    float: left;
}
.message.sent::before {
    left: auto;
    right: -28px;
    border-width: 0px 16px 16px 16px;
    border-color: transparent;
    border-left-color: #e1ffc7;
}

.message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
}

.Main {
    background: #f8f9fa;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Main h2 {
    margin-top: 2rem;
    font-weight: normal;
}
.Main img {
    width: 300px;
}

.metadata {
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}

.metadata .date {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    display: inline-block;
}
.emoji-btn{
    height: 24px;
    width: 24px;
    background-image: url('./Components/Images/icons8-emoji-24 (1).png');
    background-size: 100% 100%;
    border: none;
    transition: 0.6s ease;
}
.emoji-btn:hover{
    cursor: pointer;
    background-image: url('./Components/Images/icons8-emoji-24.png');
} 
.send-btn{
    margin-right: 10px;
    height: 24px;
    width: 24px;
    background-image: url('./Components/Images/icons8-send.png');
    background-size: 100% 100%;
    border: none;
    transition: 0.6s ease;
}
.send-btn:hover{
    background-image: url('./Components/Images/icons8-send (2).png');

}
.mic-btn{
    height: 24px;
    width: 24px;
    background-image: url('./Components/Images/icons8-microphone-24.png');
    background-size: 100% 100%;
    border: none;
    transition: 0.6s ease;
}
button{
    cursor: pointer;
}
.theme-btn{
    margin-left: 5px;
    height: 22px;
    width: 22px;
    border: 1px solid lightgrey;
    border-radius: 60%;
    background-image: url('./Components/Images/icons8-light-24.png');
    background-size: 100% 100%;
}
.emoji-box{
    display: none;
    justify-content: space-around;
    overflow-y:scroll;
    position: absolute;
    background-color: #fff;
    min-height: 40px;
    max-height: 200px;
    width: 160px;
    bottom: 50px;
    left: 5%;
    padding: 4px;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 53, 50, 0.53);
-moz-box-shadow:    3px 3px 12px 0px rgba(50, 53, 50, 0.53);
box-shadow:         3px 3px 12px 0px rgba(50, 53, 50, 0.53);
}
.emoji-box.active{
    display: block!important;
}
.Twemoji{

}